html {
    font-family: sans-serif;
}

body {}

header {
    width: 100%;
    height: 10%;
    background-color: rgb(11, 10, 11);
}

header img {
    float: left;
    margin-left: 9%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-right: 0.5em;
}

nav {
    display: inline-block;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-right: : 0.25em;

}

li {
    list-style: none;
    display: inline;
    padding-left: 2em;
    text-align: center;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}

main {
    margin-left: 10%;
    margin-right: 10%;
    height: 70%;
}

#sectionun {
    width: 100%;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid rgb(200, 200, 193);
    margin: 1em;
}

#sectionun img {
    width: 60%;
    height: 250px;
    float: left;
    margin-right: 1em;
    border-radius: 10px;
}

#article1 {
    display: inline;
    width: 40%;
    height: 200px;
    font-size: 15px;
    margin-bottom: 2em;
    margin: 1em;

}

#button1 {
    background-color: blue;
    color: white;
    padding: 1em;
    border-radius: 10px;
}

#sectiondeux {
    border: 1px solid rgb(142, 136, 136);
    background-color: rgb(214, 214, 195);
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
}

#sectiontrois article {
    float: left;
    width: 30%;
    padding-left: 1.5em;
}

a {
    text-decoration: none;
    color: grey;
}

footer {
    float: left;
    width: 80%;
    height: 5%;
    margin: 2em;
    margin-left: 10%;
    font-size: 11px;
}
